{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title%}

{% block content %}
<section class='page'>
  {% if search_enabled %}
  <form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
  </form>
  {% endif %}

  {% filtered_posts posts as posts %}
  <h1>Найдено {{ posts|length }} новостей </h1>

  {% for post in posts %}
  <div class='page__post card m-4'>
    <div class='card-body'>
      <h2 class='header__title card-title'>{{ post.title|censor }}</h2>
      <p class='header__created-at card-subtitle text-muted'>{{ post.created_at|date:"d.m.Y" }}</p>
      <p class='post__content card-text'>
        {{ post.text|censor|truncatewords:50 }}
        <a class='content__button card-link' href="/news/{{ post.id }}">Подробнее</a>
      </p>
    </div>
  </div>
  </tr>
  {% endfor %}

  {% if is_paginated %}
  <ul class="pagination d-flex justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
    {% endif %}

    {% with  page_obj.paginator.num_pages as num_pages %}
    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number >= page_obj.number|pagination_start:num_pages and page_number <= page_obj.number|pagination_end:num_pages %}
    <li class="page-item {% if page_number == page_obj.number %} active {% endif %}">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% endwith %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</section>
{% endblock content %}